* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-base;
  font-family: $head-font, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  line-height: 1.7rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
}
input[type='text'] {
  outline: none;
  width: 100%;
  padding: .5rem;
  margin: .8rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
